/* RESET & BASE */
html {
  overflow-y: scroll;
}

body {
  margin: 0;
  background: #fbfbfb;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  color: black;
  display: block;
}

/* LAYOUT */
.page {
  display: flex;
  align-items: flex-start;
  padding: 24px;
  gap: 60px;
  box-sizing: border-box;
}

/* LEFT SIDEBAR */
.left {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 200px;
  z-index: 1000;
  background: #fbfbfb;
}

.left p {
  margin: 0 0 24px 0;
  text-align: left;
}

/* UNSTYLED LINK */
.unstyled-link {
  all: unset;
  cursor: pointer;
}

/* RIGHT COLUMN */
.right {
  margin-left: 300px;
  max-width: 600px;
}

/* HEADINGS */
h2 {
  font-size: 15px;
  margin: 40px 0 0 0;
  font-weight: normal;
}

h2 + p {
  margin-top: 0;
}

.unstyled-link:hover {
  text-decoration: underline;
}

.bottom {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 200px;
  font-size: 0.9rem;
  line-height: 1.4;
  color: black;
  background: #fbfbfb;
}